<footer class="footer">
  <div class="footer1">
    <div class="footer-copy">#InDemo &copy; 2020</div>
    <ul class="footer-sections">
      <li class="text-link"><a href="#team1">equipo</a></li>
      <li class="text-link"><a href="#about-us">quiénes somos</a></li>
      <li class="text-link"><a href="/contacto.html">contacto</a></li>
    </ul>
    <a href="https://www.adalab.es" target="_blank"> <img class="footer-logo" src="./assets/images/logo-adalab.svg"
        alt="logo Adalab" /></a>
  </div>
</footer>