<footer class="footer">
  <div class="footer__wrapper">
    <small class="footer__wrapper--copy">#InDemo &copy; 2020</small>
    <ul class="footer__wrapper--nav">
      <li class="text-link"><a href="#team1">equipo</a></li>
      <li class="text-link"><a href="#about-us">quiénes somos</a></li>
      <li class="text-link"><a href="./contact.html">contacto</a></li>
    </ul>
    <a href="https://www.adalab.es" target="_blank"> <img class="footer__wrapper--img"
        src="./assets/images/logo-adalab.svg" alt="logo Adalab" /></a>
  </div>
</footer>