<header class="top">
    <div class="top__title">
      <h1 class="top__title--white"><a href="./index.html" title="La página principal">#InDemo</a></h1>
      <nav>
        <ul class="nav">
          <li><a class="nav__link" href="../index.html#team1" title="Sobre el equipo">equipo</a></li>
          <li><a class="nav__link" href="../index.html#about-us" title="Sobre nosotras">quiénes somos</a></li>
          <li><a class="nav__link nav__link--padding" href="./contact.html" title="Para contactarnos">contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>