<header class="header">
    <div class="header__title">
      <h1 class="header__title--white">#InDemo</h1>
      <nav>
        <ul class="nav">
          <li><a class="nav__link" href="#team1" title="A sección Equipo">equipo</a></li>
          <li><a class="nav__link" href="#about-us" title="A sección sobre nosotras">quiénes somos</a></li>
          <li><a class="nav__link nav__link--padding" href="" title="A contactarnos">contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>