<section class="section1">
    <div>
      <h2 class="section1__title">Contacto</h2>
      <p class="section1__text">
        Si quieres contactar con nosotras para cualquier cuestión, puedes
        hacerlo a través de nuestras redes sociales o rellenar el formulario
        que ves a continuación y te responderemos en breve.
      </p>
      <p class="section1__text--small">
        Todos los campos marcados con
        <span class="section1__text--small--asterisk">*</span> son
        obligatorios.
      </p>
    </div>
  </section>