<section class="section-2">
    <h2 id="about-us" class="about">quiénes somos</h2>
    <article class="member">
      <div class="member__img--left">
        <img class="member__retrait" src="./assets/images/Berta.png" alt="" />
      </div>
      <div class="member__left">
        <div class="member__name">berta pluma</div>
        <p class="member__about--us member__about--left">Fotógrafa de formación y comunicadora por vocación. Desarrolladora front-end en ciernes, adoradora de flex y sufridora de git. En la cancha o ante una pantalla siempre tiene presente a Toni Nadal y su “Nunca una excusa nos hizo ganar un partido".</p>
        <ul class="member__social">
          <li>
            <a class="member__link" href="https://twitter.com/BertaPSan" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="https://www.linkedin.com/in/bertaplumasanjurjo/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="https://www.github.com/bertapsan" target="_blank"><i class="fab fa-github-alt"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="mailto:bertapsan@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <article class="member">
      <div class="member__img--right">
        <img class="member__retrait " src="./assets/images/Victoria.png" alt="" />
      </div>
      <div class="member__right">
        <div class="member__name">Victoria Kovaleva</div>
        <p class="member__about--us member__about--right">Soy administrativa de empresas, habladora profesional con clientes insatisfechos y emprendedora front-end. Soy una persona muy positiva que tiene mucha energía con ganas de programar y explorar el mundo web.</p>
        <ul class="member__social">
          <li>
            <a class="member__link" href="https://twitter.com/ki_kvi" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="https://www.linkedin.com/in/kovaleva-victoria/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="https://www.github.com/kvi-ki" target="_blank"><i class="fab fa-github-alt"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="mailto:victoriak.dev@gmail.com"><i class="far fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <article class="member">
      <div class="member__img--left">
        <img class="member__retrait" src="./assets/images/Natalia (2).png" alt="" />
      </div>
      <div class="member__left">
        <div class="member__name">Natalia Migallón</div>
        <p class="member__about--us member__about--left">Historiadora del arte y programadora front-end. La curiosidad y el entusiasmo
          siempre me acompañan en mi vida profesional y también en la personal. En Adalab he aprendido a ser autónoma en mi trabajo y, al mismo tiempo, he descubierto las bondades de trabajar en equipo.</p>
        <ul class="member__social">
          <li>
            <a class="member__link" href=""><i class="fab fa-twitter"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href=""><i class="fab fa-linkedin-in"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="https://github.com/NataliaMigallon" target="_blank"><i class="fab fa-github-alt"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="mailto:natmigallon@gmail.com"><i class="far fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
    <article class="member">
      <div class="member__img--right">
        <img class="member__retrait" src="./assets/images/Ana.png" alt="" />
      </div>
      <div class="member__right">
        <div class="member__name">Ana Fernández</div>
        <p class="member__about--us member__about--right">Pianista, profesora y...¿por qué no futura programadora? Orquesto mis mañanas al son del
          café porque la música es mi mejor viaje y viajar es añadir vida a mi vida. Si una palabra me definiese, sería la perseverancia.</p>
        <ul class="member__social">
          <li>
            <a class="member__link" href="https://twitter.com/anafruiz20" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="https://www.linkedin.com/in/ana-fernandez-2020/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="https://github.com/anafruiz/" target="_blank"><i class="fab fa-github-alt"></i></a>
          </li>
          <span class="bullet_point">&#8226</span>
          <li>
            <a class="member__link" href="mailto:anafruiz20@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </article>
  </section>