<section class="section2">
    <form class="form" action="https://formspree.io/f/myybljbv" method="post">
      <label class="form__label form__label--fullname" for="fullname">Nombre completo<span
          class="form__span--asterisk">&#42;</span></label>
      <input class="form__box form__box--fullname" type="text" id="fullname" name="fullname" placeholder="Nombre..."
        required />

      <label class="form__label form__label--emailaddress" for="emailaddress">Email <span
          class="form__span--asterisk">&#42;</span></label>
      <input class="form__box form__box--emailaddress" type="email" id="emailaddress" name="emailaddress"
        placeholder="nombre.apellidos@mail.com" required />

      <label class="form__label form__label--telefphone" for="telephone">Teléfono</label>
      <input class="form__box form__box--telephone" type="tel" id="telephone" name="telephone"
        placeholder="Ej: 123456789" />

      <label class="form__label form__label--message" for="message">
        Mensaje <span class="form__span--asterisk">&#42;</span></label>
      <textarea class="form__box form__box--message" cols="8" rows="80" placeholder="¿Qué necesitas?"
        required></textarea>

      <input class="form__button" type="submit" value="ENVIAR" />
    </form>
  </section>