* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-padding-top: 92px;
  scroll-behavior: smooth;
}

@media all and (min-width: 768px) {
  html {
    scroll-padding-top: 47px;
  }
}
