// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
/*esto primero es de ellos*/

:root {
    --blue-green: #099d8d;
    --grey: #54585a;
    --cool-grey: #b8b8b9;
    --aqua: #14d9c4;
    --black: #000000;
    --white: #ffffff;
  }