// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
/*esto primero es de ellos*/

/*$color_color1: #099d8d;
$color_color2: #54585a;
$color_color3: #b8b8b9;
$color_color4: #14d9c4;
$color_color5: #000000;
$color_color6: #ffffff;
$font_title: "Rubik", sans-serif;
$font_text: "Open Sans", sans-serif;
$font_size_text: 16px;

*/
:root {
    --blue-green: #099d8d;
    --grey: #54585a;
    --cool-grey: #b8b8b9;
    --aqua: #14d9c4;
    --black: #000000;
    --white: #ffffff;
  }