
$background_blue-green: #099d8d;
$font_blue-green: #099d8d;
$font_grey: #54585a;
$border_grey: #54585a;
$background_cool-grey: #b8b8b9;
$font_cool-grey: #b8b8b9;
$border_cool-grey: #b8b8b9;
$background_aqua: #14d9c4;
$font_aqua: #14d9c4;
$font_black: #000000;
$font_white: #ffffff;
$background_white: #ffffff;
$font_Rubik: "Rubik", sans-serif;
$font_OpenSans: "Open Sans", sans-serif;
$font_size_text: 16px;
