:root {
  --blue-green: #099d8d;
  --aqua: #14d9c4;
  --dark-grey: #54585a;
}
/* Header */
body {
  width: 320px;
  height: 4025px;
  background-color: #ffffff;
  border: 1px solid #b8b8b9;
}
/*
.header {
  width: 320px;
  height: 60px;
  padding: 15px 80px;
  opacity: 0.95;
  background-color: var(--blue-green);
}
*/
.nav {
  box-sizing: border-box;
  background-color: var(--aqua);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 20px;
  list-style-type: none;
}

h1 {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: white;
  background-color: var(--blue-green);
  opacity: 0.95;
  text-align: center;
  margin: 0px;
  padding: 20px;
}
/*
.img {
  width: 320px;
  height: 421px;
  margin: 0 0 0px;
  top: 0px;
  padding: 0 0 0px;
}
*/
.Equipo {
  width: 56px;
  height: 30px;
  margin: 0 15px 0 0;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}

.Quienes-somos {
  width: 121px;
  height: 30px;
  margin: 0 -5px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}

.Contacto {
  width: 80px;
  height: 30px;
  margin: 0 0 0 15px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}

li a {
  text-decoration: none;
  color: white;
}

/* Hero */
.hero {
  width: 320px;
  height: 421px;
  margin: 0 0 46px;
  padding: 0 0 0px;
}
.img {
  width: 320px;
  height: 421px;
}

.lema {
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  display: block;
  position: relative;
  top: -20px;
  left: 10px;
  right: 10px;
  padding: 10px;
  width: 280px;
}

/* TEAM/EQUIPO */

.team {
  width: 320px;
  height: 579px;
  margin: 0px 0 0;
  padding: 0px;
  background-color: #ffffff;
}
.h2-equipo {
  width: 89px;
  height: 45px;
  margin: 0 99.5px 15px 101.5px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--aqua);
}
.descripcion-equipo {
  width: 290px;
  height: 384px;
  margin: 15px 0 0;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}
.fortalezas-debilidades {
  width: 320px;
  height: 579px;
  margin: -20px 0 0;
  padding: 0px;
  opacity: 0.2;
  background-color: #b8b8b9;
}
/*La opacidad del rectangulo2 hace que el blue-green se vea mas claro. Hay que resolverlo*/

.h3-fortalezas {
  width: 290px;
  height: 45px;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  
}
.h3-debilidades {
  width: 290px;
  height: 45px;
  margin: 30px 0 0;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

/*QUIENES SOMOS*/

.about {
  box-sizing: border-box;
  background-color: pink;
  width: 320px;
  height: 2225px;
  margin: 0px 0 0;
  padding: 30px 15px 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: var(--white);*/
}
.somos {
  width: 193px;
  height: 45px;
  margin: 0 47.5px 30px 49.5px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}
.img-1 {
  width: 180px;
  height: 180px;
  margin: 0 55px 15px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.item {
  width: 177px;
  height: 45px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.parrafo {
  width: 290px;
  height: 200px;
  margin: 0px 0 15px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

/* FOOTER */
.footer {
  margin: 0px;
  height: 250px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue; /* quitar antes de subir*/
  font-size: 14px;
}
.footer-copy {
  height: 20px;
  width: 172px;
  position: relative;
  top: 30px;
  background-color: brown; /* quitar antes de subir*/
  font-family: sans-serif;
  text-align: center;
}
.footer-sections {
  height: 60px;
  width: 114px;
  background-color: cyan; /*quitar antes de subir*/
  font-family: sans-serif;
  text-align: center;
  position: relative;
  top: 50px;
}
.text-link {
  color: #54585a;
}

.footer-ul {
  list-style: none;
  line-height: 20px;
}
.footer-logo {
  height: 45px;
  width: 115.9px;
  background-color: darkgreen; /* quitar antes de subir*/
  position: relative;
  top: 80px;
}
