:root {
  --blue-green: #099d8d;
  --aqua: #14d9c4;
  --dark-grey: #54585a;
}

body {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 4025px;
  background-color: #ffffff;
  border: 1px solid #b8b8b9;
}

a {
  text-decoration: none;
}

/* Header */

.header {
  position: relative;
  opacity: 0.9;
  width: 320px;
  height: 0px;
  margin: 0px;
  background-image: url(../images/ImagenInDemo.png);
  padding-bottom: 400px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: white;
  background-color: var(--blue-green);
  opacity: 0.95;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 10px;
  opacity: 0.9;
  background-color: var(--aqua);
  list-style-type: none; 
}

.Equipo {
  width: 56px;
  height: 30px;
  margin: 0px 8px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--white);
}

.Quienes-somos {
  width: 121px;
  height: 30px;
  margin: 0 14px 0 0;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--white);
  text-align: center;
  /* align-items: center; */
}

.Contacto {
  width: 80px;
  height: 30px;
  margin: 0px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--white);
} 

.nav a {
  color: white;
}

/* Hero */

.hero {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
  display: block;
  position: relative;
  top: -20px;
  left: 10px;
  right: 10px;
  padding: 10px;
  width: 280px;
  z-index: 999;
}

/* TEAM/EQUIPO */

/* .team {
  width: 320px;
  height: 504px;
  padding: 0px 0px;
  background-color: #ffffff;
} */

.team {
  margin-bottom: 0px;
}

.h2-equipo {
  width: 89px;
  height: 45px;
  margin: 0px 99.5px 15px 115px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--aqua);
}

.descripcion-equipo {
  width: 290px;
  height: 384px;
  margin: 15px 0 0 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.fortalezas-debilidades {
  width: 320px;
  height: 650px;
  margin-top: 15px;
  padding-top: 10px;
  background-color: #b8b8b9;
}

/* .fortalezas-debilidades {
  box-sizing: border-box;
  width: 320px;
  height: 579px;
  margin: 0px;
  padding: 0px; */

.h3-fortalezas {
  width: 290px;
  height: 45px;
  margin: 30px 0 0 10px;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

p {
  width: 290px;
  height: 192px;
  margin: 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
  position: relative;
  z-index: 1000;
  margin: 15px 0 0 15px;
}

.h3-debilidades {
  width: 290px;
  height: 45px;
  margin: 50px 0 0 10px;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  position: relative;
  z-index: 1000;
}

/*QUIENES SOMOS*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--white);
  width: 320px;
  margin: 0px;
  padding: 30px 15px 0px;
}

/* background-color: var(--white);
  box-sizing: border-box;
  /*background-color: pink;
  width: 320px;
  height: 2225px;
  margin: 0 0 0; */

.somos {
  width: 193px;
  height: 45px;
  margin: 0 47.5px 30px 49.5px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.img-1 {
  width: 180px;
  height: 180px;
  margin: 0 55px 15px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.item {
  width: auto;
  height: 45px;
  margin: 0px 70.5px 0 72.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.parrafo {
  width: 290px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.social {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.redes {
  display: flex;
  width: 124px;
  height: 30px;
  padding-left: 0;
  margin: 0px 0px 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #099d8d;
  display: flex;
  justify-content: center;
}

/* FOOTER */

.footer {
  margin: 0px;
  width: 320px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(169, 129, 206);  quitar antes de subir*/
  font-size: 14px;
  border-top: 1px solid #b8b8b9;
}
.footer-copy {
  height: 20px;
  width: 172px;
  position: relative;
  top: 30px;
  /*background-color: brown; quitar antes de subir*/
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #b8b8b9;
}
.footer-sections {
  width: 114px;
  height: 60px;
  display: block;
  /*background-color: cyan; /*quitar antes de subir*/
  text-align: center;
  position: relative;
  top: 50px;
  line-height: 1.43;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #54585a;
}

.footer-sections a {
  color: #54585a;
}

.text-link {
  color: #54585a;
}

.footer-ul {
  list-style: none;
  line-height: 20px;
}
.footer-logo {
  height: 45px;
  width: 116px;
  /*background-color: darkgreen; /* quitar antes de subir*/
  position: relative;
  top: 80px;
}
